.chat{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.my__chat{
  align-self: flex-end;
  background-color: #a5d175;
  color: white;
}

.robot__chat{
  align-self: flex-start;
  background-color: lightgray;
  color: black;
}