.home__page{
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  width: 80%;
  padding-top: 10vh;
  border-bottom: 1px solid black;
  text-align: center;
}

/* 각각의 영상관련 */
.video__container{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 100px 50px;
}
.video__container > li {
  display: flex;
  flex-direction: column;
}
.thumbnail{
  width: 100%;
}
.video__time{
  align-self: flex-end;
  color: var(--blue-color);
}
.video__title{
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.video__writer{
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 0.2rem;
}
.video__data{
  font-size: 0.9rem;
  color: gray;
}