.video__detail__container{
  height: 90%;
  display: flex;
  justify-content: center;
}
.video__detail{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 5vh;
  margin-right: 5vw;
}

.video{
  width: 100%;
  align-self: flex-start;
}

.side__video__container{
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}
.side__video{
  display: flex;
  margin-bottom: 1vh;
}
.side__video__info{
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
}
.side__video__title{
  margin-bottom: 0.4rem;
}
.side__video__writer__name{
  font-size: 0.7rem;
  color: gray;
  margin-bottom: 0.4rem;
}
.side__video__data{
  font-size: 0.7rem;
  color: gray;
}

@media screen and (max-width: 768px) {
  .video__detail__container{
    flex-direction: column;
    justify-content: stretch;
  }
  .video__detail{
    width: 90%;
    margin: auto;
    margin-top: 5vh;
  }
  .side__video{
    margin-left: 5vw;
  }
}