.video__upload{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  margin-bottom: 3rem;
}

/* 비디오 폼관련 */
.video__form{
  min-width: 40%;
  display: flex;
  flex-direction: column;
}
.video__form > label {
  display: flex;
  flex-direction: column;
  color: rgb(82, 82, 82);
}
.video__form > label > input,
.video__form > label > textarea {
  padding: 0.2rem;
  margin-bottom: 1rem;
}
.video__section{
  display: flex;
  justify-content: space-between;
}
.video__dropzone{
  width: 45%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-radius: 0.4rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.video__dropzone > span {
  font-size: 1rem;
  font-weight: bold;
}
.video__dropzone:hover > span{
  color: gray;
}
.video__thumbnail{
  width: 45%;
  height: 200px;
}
.select{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.video__upload__btn{
  background-color: var(--blue-color);
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 0.4rem;
}