body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rpc__image{
  background-image: url("https://en.pimg.jp/023/182/267/1/23182267.jpg");
  background-position: -0px 0px;
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
}